* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

body {
  background-image: url('./Assets/img/scattered-forcefields.png');
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
}

.editContainer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #bebebe;
}

header {
  width: 100%;
  background-color: #f4f4f4;
  height: 120px;
  display: flex;
  flex-direction: row;
}

.lexend-giga-body {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.prevHeader {
  width: 20%;
margin: 0;
display: flex;
align-items: center;
}

.nextHeader {
  width: 20%; 
display: flex;
justify-content: flex-end;
align-items: center;
}

.prevHeader img {
  height: 150px;
  width: 150px;   
}

.nextHeader img {
  height: 150px;
  width: 150px;   
  float: right;
}

.prevHeader,.nextHeader img:hover {
  cursor: pointer;
}

.monthHeader {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.container {  
  margin-top: 2px;
  display: grid;
  grid-template-columns: repeat(7, .6fr);
  grid-template-rows: repeat(7);
  gap: 8px ;

}

.dayCell {
  background-color: #9be2cf;
  height: 80px ;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 5px;
}
.unitCell {  
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 0.3fr 2.1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "restTime icon"
    "number number"; 
  border-radius: 8px;
  background: #f4f4f4;
  box-shadow:  -9px 9px 5px #bebebe,
           9px -9px 5px #ffffff;
}
.weekend {
  background-color: #00202e;
  color: whitesmoke;
}
.today{
 background-color: #35657a5e;
}
.number { 
  grid-area: number; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5rem;
}
.numberExpire {
  color: #bebebe;
  grid-area: number; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5rem;
}

.icon { grid-area: icon; padding-right: 5px; }
.icon img {
  height: 50px;
  width: 50px;
  cursor: grab;
}

.restTime { grid-area: restTime; }

/* Loader starts */
.wrapper {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc( 3 * var(--offset) + var(--square));
  height: calc( 2 * var(--offset) + var(--square));
  position: relative;
}
.loadingspinner div {
  display: inline-block;
  background: #3241b9;
    /*background: var(--text-color);*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc( 0 * var(--offset) );
  top: calc( 0 * var(--offset) );
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc( 0 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
              squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc( 1 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc( 2 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc( 3 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square2 {
  0% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  100% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }
}

@keyframes square3 {
  0%,100% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square4 {
  0% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square5 {
  0% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}
